@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* CSS Reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility Classes */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
}
h1{
    margin-bottom: 1rem;
}
p{
  margin: 1rem 0;
}
a{
  text-decoration: none;
}
a:hover{
  font-weight: 600;
}
.l-lead{
  font-size:15px;
  font-weight: bold;
}
.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}
.button{
  display: inline-block;
  color: #fff;
  background: #000;
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
 
  font-weight: 1000;
  transition: all 0.3s ease-in;
}
.btn-home{
  width: 80%;
}
.btn-home:hover{
  background: #333;
  width:81%;
}
.container{
  max-width: 1100px;
  margin: 2rem 0;
  padding: 0 2rem;
  overflow: hidden;
}
.btn-light{
  color:#333;
  background: #ccc;
  border-radius: 20px;
  display: inline-block;
  /* width: 50%; */
}
.btn-dark{
  background: #000;
  color:#fff;
  padding: 0.5rem 2rem;
  margin-right:  1rem;
  font-weight: 1000;
  border:none;
}

/* Home Page  -- Start*/
.main{
  display: flex;
  /* justify-content: space-between; */
}
.main div{
  flex:1;
}
.main .left{
  width: 50%;
  background: #eee;
  color:#333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  transform: translateY(-1200px);
  animation: animate1 1.5s  forwards ease-in;
}
.right{
  background: #000;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transform: translateY(1200px);
  animation: animate1 2s  forwards ease-in 0.5s;
}
@keyframes animate1 {
  to{transform: translateY(0px);}
}
/* Home Page  -- End */


ul{
  list-style: none;
  display: flex;
  cursor: pointer;
}
ul li{
  padding: 5px;
  font-size: 20px;
}

.uber_ride{
  display: block;
  width: 100%;
  border-top: 2px solid #ddd;
  text-align: left;
  margin-left: 4rem;
}

/* Login Page -- Start */

.tel-box{
  display: flex;
  margin: 1rem;
  margin-top: 2rem;
}
.select-box{
  margin: 1rem;
  width: 60px;
  height: 40px;
  /* background: red; */
}
.flag-img{
  width:60px;
  height: 40px;
  border:2px solid black;
  position: absolute;
  border-radius:5px;
}
.select-box select{
  font-family: 'Roboto',sans-serif;
  width: 60px;
  height: 40px;
  background: none;
  position: absolute;
  border:none;
  font-size: 1rem;
  padding: 4rem;
  outline: none;
  -webkit-appearance: none;
}
.cntrycode{
  font-family: 'Roboto',sans-serif;
  width: 80px;
  height:40px;
  border:2px solid #ccc;
  outline: none;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.tel{
  font-family: 'Roboto',sans-serif;
  width: 100%;
  height:40px;
  background: none;
  border:2px solid #ccc;
  outline: none;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}
.output{
  margin: 1rem;
  margin-top: 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-self: center;
}
.result{
  width:auto;
  padding: 0.25rem;
  border-radius: 5px;
  background: green;
  color:white;
  font-size: 1rem;
  margin-left: 1rem;
}

.next{
  position: absolute;
  bottom: 2rem;
  right: 0;
  width:auto;
  margin-right: 3rem;
  text-align: center;
  border-radius:100px;
  color:#fff
}
.prev{
  position: absolute;
  bottom: 2rem;
  left: 0;
  margin-left: 3rem;
  width: auto;
  text-align: center;
  border-radius:100px;
  color:#fff
}

/* Navbar */
#navbar{
  position: sticky;
  top: 0;
  background: #000;
  color:white;
  display: block;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 10vh;
}
.btn-help{
  padding:0.25rem 0.75em;
  margin-right: 0.5rem;
  border:none;
  border-radius: 20px;
  color:black;
  background: white;
}
.otp-field{
  width: 38px;
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
}


.text-bg{
  background:#ddd;
  color:black;
  font-weight:1000;
border: none;} 

/* /Signup */
.form-group{
  margin-bottom: 1rem;
}
.form-group .form-label{
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input{
  width: 80%;
  padding: 0.75rem;
  border: none;
}
.continue-btn{
  position: absolute;
  bottom: 0;
  background: #f1f1f1;
  display: block;
  text-align: center;
  width: 100%;
  padding: 1rem;

}
.font-bold{
  font-weight: bolder;
}
.ctn{
  border-radius: 10px;
  width: 80%;
}

.small{
  font-size: 14px;
}

.vehicleType{
  border: 2px solid #ccc;
  margin-top:20px;
  border-radius: 5px;
  padding:10px;
  width:100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.vehicleType:hover{
  border: 3px solid #ccc;
}
.vehType{
  display: flex;
  flex-direction: column;
}
.badge{
  background: #ccc;
  font-size: 12px;
  font-weight: bold;
  display: inline;
  padding: 0.25rem;
  margin-bottom: 20px;
  color: blue;
  border-radius: 5px;
  width:60px
}

/* User Profile Page */

.card{
  /* background: red; */
  padding:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
  border-bottom: 1px  #f4f4f4 solid;
}
.content{
  display: flex;
}
.Img{
  display: inline-block;
  color:black;
  font-weight:bolder;
  margin: 10px;
  font-size: larger;
}
p.lead-l{
  margin: 0;
  padding: 0 10px;
  font-size: medium;
  font-weight:bolder;
}

p.lead-s{
  margin: 0;
  padding: 5px 10px 0 10px;
  font-size: small;
  
}